<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/media/fondo2.png" class="chp">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/media/fondo3.png" class="chp">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/media/cover1.jpg" class="chp">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<!-- cards objetivos -->
<div class="container-text">

    <img src="../../../assets/media/medic.jpg" style="width: 120px; height: 120px; margin-bottom:2%;">
    <h2 style="color:#013F4E; margin-bottom:2% ; font-style:bold;">Objetivos de EMED</h2>
    <p>Nuestra investigación es sobre la creación dispositivos biomédicos y algoritmos inteligentes en el cuidado de la salud. Estamos trabajando en la adquisición de Historial clínica e imágenes médicas autónomas que pueden guiar a los operadores humanos
        en tiempo real durante el diagnóstico. La inteligencia artificial se utiliza actualmente como un término general para describir la investigación en estas áreas.</p>
    <p>¿Podemos democratizar la experiencia poco común en el cuidado de la salud a través del aprendizaje automático, brindando orientación en aplicaciones en tiempo real y experiencia como segundo lector en el análisis retrospectivo? ¿Podemos desarrollar
        un aprendizaje normativo a partir de grandes poblaciones, integrando imágenes, registros de pacientes, lo que lleva a un análisis de datos que imita la toma de decisiones humana? ¿Podemos proporcionar la interpretabilidad humana de la toma de
        decisiones de las máquinas para respaldar el "derecho a la explicación" en el cuidado de la salud?</p>

</div>
<!-- container1 EMED -->

<div class="containerA">
    <div class="row">
        <div class="col-1"></div>
        <img src="../../../assets/media/ciencia.png" style="width: 150px; height: 130px;" class="col-2">
        <div class="col-8" style="padding-left:4% ;">
            <b>EMED</b>
            <H3>Equipo de investigacion, dedicado al a resolver problemas medicos atraves de la tecnologia moderna del siglo XXI</H3>
            <button type="button" class="btn btn-info">Noticias</button>
            <button type="button" class="btn btn-light"><a routerLink="equipo">Equipo</a></button>
        </div>
    </div>
</div>

<!-- Areas de investigacion -->

<div class="container-fluid">
    <div class="containerI">
        <h2 style="text-align: center;">Areas de investigación</h2>
    </div>
    <div class="container-cards">
        <div class="row">
            <div class="col-1"></div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/media/ml.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Diagnostico</h5>
                    <p class="card-text">Diagnostico de patologias mediante el uso de tecnicas de deep learning y machine learning</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/media/Health.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Rehabilitación</h5>
                    <p class="card-text">Rehabilitación fisica y cognitiva mediante el uso de hardware y software</p>
                </div>
            </div>
            <div class="card" style="width: 18rem">
                <img src="../../../assets/media/iot.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">IOT</h5>
                    <p class="card-text">Internet of things</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- container pro destacado -->

<div class="containerA">
    <h2 style="text-align: center;">Ubicacion central</h2>
    <div class="card text-bg-dark">
        <img src="../../../assets/media/CEIDIngenieriaMexicali.jpg" class="card-img">
        <div class="card-img-overlay">
            <h5 class="card-title">CETYS Universidad</h5>
            <p class="card-text">Edificio CEID, campus Mexicali, Baja California, México</p>
        </div>
    </div>
</div>