.chp {
    width: 100%;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0px !important;
}

.containerA {
    background-color: #0BA5BE;
    padding-top: 4%;
    padding-bottom: 4%;
}

.btn {
    border-radius: 100px;
    margin: 1%;
}

.btn-info {
    background-color: #013F4E;
    color: white;
}


/* area de investigacion */

.containerI {
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-cards {
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-cards .card {
    padding: 1%;
}

.card {
    margin: 3%;
}

.card-body {
    text-align: center;
}


/* carusel  */

.carousel-item img {
    height: 640px;
}


/* container text  */

.container-text {
    text-align: center;
    padding: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}