<nav class="navbar navbar-expand-lg bg-white">
    <div class="container row">
        <div class="col-1"></div>
        <a class="navbar-brand col-2" href="#">
            <img src="../../../assets/media/logoE.png" width="120" height="40" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse col-4" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../proyectos/">Proyectos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                        Publicaciones </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Articulos</a></li>
                        <li><a class="dropdown-item" href="../book/">Libros</a></li>
                        <li><a class="dropdown-item" href="#">Conferencias</a></li>
                        <li><a class="dropdown-item" href="#">Propiedad intelectual</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../equipo/">Equipo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>