.container-title {
    text-align: center;
    margin: 1%;
    padding: 1%;
}

.card-containerP {
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.card {
    margin: 2%;
}

.card-container {
    margin: 3% 6% 5%;
    padding: 2%;
}